{% extends "trips/base.html" %}
{% block content %}
{% if trips %}
<!-- <div class="container rounded bg-white mt-5 p-5 table-responsive">
    <form method="get">
        {{ filter.form.as_p }}
        <button type="submit">Search</button>
    </form>
</div> -->
<div class="row">
    <div class="col">
        <div class="card card-body">

            <form method="get">
            {{ filter.form }}
            <button class="btn btn-primary" type="submit">Search</button>
            </form>

        </div>
    </div>

</div>
    {% for obj in filter.qs %}
        {{obj.Trip_name}}
        {{obj.date_time}}
        {{obj.trip_id}}
        <br>
    {% endfor %}
    <table class="table table-striped">
    <thead>
        <th scope="col">#</th>
        <th scope="col">Source</th>
        <th scope="col"></th>
        <th scope="col">Destination</th>
        <th scope="col">Date</th>
        <th scope="col"># Available Seats</th>
        <th scope="col">Train Name</th>
        <th scope="col"></th>
    </thead>
    <tbody>
{% for trip in trips %}
<tr>
    <td>{{ trip.trip_id }}</td>
    <td>{{ trip.source }}</td>
    <td>→</td>
    <td>{{ trip.destination }}</td>
    <td>{{ trip.date_time|date:"F d, Y" }}</td>
    <td>{{ trip.reserved_seats }}</td>
    <td>{{ trip.train_id.Train_name }}</td>
    <td><button type="button" class="btn btn-success">Book</button></td>
    </tr>
{% endfor %}
    </tbody>
</table>
</div>
{% endif %}
{% endblock content %}