{% extends "trips/base.html" %}
{% load crispy_forms_tags %}
{% block head %}
<style>
.form-signin {
  width: 100%;
  max-width: 550px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
{% endblock head %}
{% block content %}
  <div class="container rounded bg-white mt-5 p-2" style="max-width: 550px;">
    <form method="POST" class="form-signin">
        {% if form.non_field_errors %}
    <div class="text-danger" style="list-style-type: none;">
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger font-weight-light">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
    </div>
    {% endif %}
        {% csrf_token %}
        <legend>Login</legend>
        <div class="form-floating">
            <label for="username" class="sr-only">Username</label>
            {{ form.username }}
        </div>
        <div class="form-floating">
          <label for="password" class="sr-only">Password</label>
          {{ form.password }}
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
    <div class="border-top pt-3">
      <small class="text-muted">
        Need An Account? <a class="ml-2" href="{% url 'users-register' %}">Sign Up Now</a>
      </small>
    </div>
  </div>
{% endblock content %}